  
.form__title{background:-webkit-linear-gradient(rgb(38, 38, 255),rgba(55, 253, 81, 0.69));
      background-clip:none;
  -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.1px black;}
body{
  background-image:url('https://i.pinimg.com/originals/bc/99/63/bc9963fdfbf5fd0c57b742c6435215f5.gif');
background-position: center;
background-size: cover;
}

/* Nav Styles */
.nav {
  padding: 2rem 0;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
}
.nav__list li {
  display: inline-block;
  margin: 0 1rem;
}
.nav__list .nav__link {
  font-size: 1.8rem;
  font-family: Poppins;
  color: white;
}
.nav__list li:hover .nav__link {
  color:blue;
}

/* End Nav Styles */


/* Button Styles */
.btn {
  color: var(--green-1);
  font-family: Poppins;
  border-radius: 8px;
  padding: 1.3rem 2rem;
border: 2px solid white;
  color: var(--white-1);
  background: rgba(0, 0, 94, 0.463);
font-size: 2rem;
}
.btn:hover{
color:blue;

}
/* End  Button Styles */


/* Footer Styles */
footer {
  background:	rgba(48, 48, 48, 0.914);
padding-top: 8rem;
  padding-bottom: 4rem;
  
}
.footer__wrapper {
  display: flex;
flex-direction: row;
  gap: 3rem;
}
.footer__logo {
  margin-bottom: 2rem;
}
.footer__desc {
  color: white;
max-width: 300px;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
}


.footer__text__title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--black-1);
  font-weight: 600;
}
.footer__text a {
  color: white;
  font-family: Raleway;
  font-weight: 500;
  line-height: 1.4em;
font-size: 1.8rem;
      margin-bottom: 1rem;
}

.footer__text__title{
  color: white;
font-size: 2rem;
  margin-bottom: 2rem;

}
  .footer__col1 {
      flex: 4;
  }
  .footer__col2,
  .footer__col3,
  .footer__col4 {
      flex: 2;
  }
#copyright {
  padding: 1rem 0;
  font-size: 1.6rem;
  text-align: center;
}
/* End Footer Styles */

/* Form Styles */
#form {
  padding: 5rem 0;
}

.form__wrapper {
  padding: 3rem 0;
}
.form__wrapper form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

}
.form__group label {
  font-size: 1.6rem;
  font-family: Poppins;
  font-weight: 500;
}

.form__group input,
.form__group textarea,
.form__group select {
  width: 100%;
  background-image: linear-gradient(to right,lightblue,lightgreen); 
  font-family: Raleway;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 0.5rem;
  color: var(--black-2);
font-size: 1.8rem;
  padding: 2.2rem;
border-color:black;
  border-width:1px;	

  
}

.form__group input:hover,
.form__group textarea:hover,
.form__group select:hover{

border:2px solid white;
}


.form__group textarea {
  resize: none;
}
.form__wrapper button[type='submit'] {
  width: max-content;
  border: none;
  padding: 1rem 4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 768px) {
  .form__title {
      font-size: 3.6rem;
  }
  .form__wrapper {
      padding: 5rem 0;
  }
  .form__wrapper form {
      grid-template-columns: 1fr 1fr;
  }
  .form__group__full {
      grid-column: 1/3;
  }
  .form__group label {
      font-size: 2.5rem;
  }

  .form__group label {
          
      background: -webkit-linear-gradient(rgb(17, 17, 255),rgb(3, 255, 3));
      background-clip:none;
  -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.04px white ;

}
/*END  Form Styles */


}
.dark-mode {
background-image:url('https://i.pinimg.com/originals/74/43/a3/7443a31b6a19e5630b94a6538ff9bdd1.gif');
background-position: center;
background-size: cover;
}
body {

overflow-y: scroll;
}

body::-webkit-scrollbar {
 display: none;
}



